.form {
  margin-top: 30px;
  width: 228px;
  
}
.form > label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form > label > input{
  width: 218px;
  height: 20px;
}
.form fieldset {
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
  
}

.form button {
  width: 100%;
}

.form button:hover,
.form button:focus {
  background-color: rgb(102, 102, 241);
  color: white;
}
