section{
    margin-top: 20px;
}
input{
    width: 150px;
}

.timer{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    
}

.value{
    font-size: 30px;
}
